fastapi
uvicorn
celery
redis
boto3
python-multipart
python-dotenv
sqlalchemy
psycopg2-binary
elasticsearch<9
streamlit
pandas
openpyxl
python-jose[cryptography]
passlib
bcrypt==3.2.2
prometheus-fastapi-instrumentator
prometheus-client
PyYAML==6.0.2
pydantic
numpy==1.26.4
python-doctr[pytorch]
torch
torchvision
opencv-python-headless==4.9.0.80
pdf2image
pillow
indic-transliteration
python-Levenshtein
fuzzywuzzy
